<h2>Hello <%= name %>,</h2>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px">
  Thank you for signing up for our service. To activate your account, please click on the button below:
</p>

<a
  href="<%= link %>"
  target="_blank"
  style="
    border: solid 1px #a6631b;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 12px 25px;
    text-decoration: none;
    text-transform: capitalize;
    background-color: #a6631b;
    border-color: #a6631b;
    color: #ffffff;
  "
  >Activate Account</a
>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px">
  If you have any questions or concerns, please don't hesitate to contact us.
</p>
